<!--News Headlines header has a burger-style side-nav open button and a settings menu using a material icon-->
<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
  <span>News Headlines</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<!--menu items listed as buttons.-->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<!--sidenav component to add side content to a fullscreen app-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
      <mat-list-item class="list-item" *ngFor="let source of (mSources$ | async)?.sources"
        (click)="searchArticles(source.id); sidenav.close()">
        <span class="source-name"> {{ source.name }}</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!--material cards list articles using angular ngFor loop:
    -mat-card-header with div image from assets folder and data-binding of title and name of news source
    -image with data-binding to article url image
    -mat-card-content with data-binding of article description
    -mat-card-actions with 4 buttons with mat-icons, 1 button with data-binding to a article url
  -->
  <mat-card appearance="outlined" class="example-card"
    *ngFor="let article of (mArticles$ | async)?.articles; index as i">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{
          'background-image':
            'url(../assets/images/' + article.source.id + '.png)'
        }" class="example-header-image"></div>
      <mat-card-title class="title">{{ article.title }}</mat-card-title>
      <mat-card-subtitle>{{ article.source.name }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="" />
    <mat-card-content>
      <p>
        {{ article.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
      <button mat-button color="white">
        <mat-icon>thumb_up_alt</mat-icon> 12 Likes
      </button>
      <button mat-button color="white"><mat-icon>share</mat-icon> Share</button>
      <a mat-button color="white" href="{{ article.url }}" target="_blank"><mat-icon>visibility</mat-icon> More</a>
    </mat-card-actions>
  </mat-card>
</mat-sidenav-container>