@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    padding: 2em 23em;
    background:lightgray;
}

/*other color options:
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/